@charset "utf-8";

/* 実績リストページ */
/* トップ */
section {
    max-width: 1000px;
    margin: 0 auto;
}

.list_wrap {
    /* display: flex;
    justify-content: space-between; */
    margin-bottom: 100px;
}

.list_title {
    display: flex;
    justify-content: space-between;
}

.list_wrap h2 {
    position: relative;
    display: flex;
    align-items: center;
    width: 17%;
    line-height: 1.2;
}

.list_wrap h2::after {
    content: "";
    position: absolute;
    width: 230px;
    height: 230px;
    transform: translateX(-25%) translateY(5%) rotate(135deg);
    border-top: 1px solid #333333;
}

.list_wrap .pic_hand {
    position: relative;
    margin-left: auto;
    z-index: -1;
}

.web_list .pic_hand {
    width: 60.5%;
}

.graphic_list .pic_hand {
    width: 50%;
}

.illust_list .pic_hand {
    width: 50%;
}

.list_photo .pic_hand {
    width: 35%;
}

.list_text {
    width: 82.5%;
    margin-top: -35px;
    margin-left: auto;
    padding: 25px 3% 15px 4%;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.7);
}

.list_text p {
    font-size: 20px;
    line-height: 1.75;
}

.list_text ul {
    margin-top: 21px;
    margin-left: 20px;
}

.list_text ul li {
    position: relative;
    margin-bottom: 15px;
}

.list_text ul li::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: inline-block;
    border-left: 9px solid #736357;
    border-top: 9px solid transparent;
    border-bottom: 9px solid transparent;
}

.list_text ul li a {
    margin-left: 20px;
    border-bottom: 1px solid #333333;
}

@media screen and (max-width: 1000px) {
    body > section {
        padding: 0 3%;
    }

    .list_text {
        width: 100%;
        margin: 70px auto 0 auto;
    }

    .list_wrap .pic_hand {
        margin-top: auto;
        margin-bottom: -40px;
    }
}

@media screen and (max-width: 767px) {
    body > section {
        padding: 0 5%;
    }

    .list_wrap h2 {
        padding-left: 3%;
    }

    .list_wrap h2::after {
        width: 140px;
        height: 140px;
        transform: translateX(-25%) translateY(30%) rotate(135deg);
    }

    .list_wrap .pic_hand {
        width: 65%;
    }

    .list_photo .list_wrap .pic_hand {
        width: 50%;
    }

    .list_text p {
        font-size: 16px;
    }

    .list_text ul li {
        font-size: 14px;
        margin-bottom: 5px;
    }

    .list_text ul li::before {
        border-left: 8px solid #736357;
        border-top: 8px solid transparent;
        border-bottom: 8px solid transparent;
    }
}

/* リスト */
.list_content {
    margin-bottom: 190px;
}

.list_content h3 {
    display: inline-block;
    margin-left: 5%;
    margin-bottom: 50px;
    padding: 0 2% 5px 2%;
    border-bottom: 1px solid #333333;
    text-align: center;
    font-size: 30px;
}
.list_slider_img {
    width: 220px;
    margin: 0 15px;
}

.list_slider h4 {
    margin: 10px auto 0 auto;
    text-align: center;
    letter-spacing: 0.15em;
    line-height: 1.56;
}

@media screen and (max-width: 1000px) {
    .list_content h3 {
        margin-left: 0;
    }
}

@media screen and (max-width: 767px) {
    .list_content h3 {
        margin-bottom: 30px;
        padding-bottom: 0;
        font-size: 20px;
    }

    .list_slider h4 {
        margin-top: 10px;
        font-size: 14px;
        line-height: 1.79;
        /* letter-spacing: 0.03em; */
        line-height: 1.33;
    }
}

/* スライダー調整 */
.list_slider {
    width: 90%;
    margin: 0 auto;
    /* 検証 */
    /* display: flex;
    flex-wrap: wrap; */
}

.list_slider .slick-prev {
    top: 41%;
    left: -2.5%;
    z-index: 1;
}

.list_slider .slick-next {
    top: 41%;
    right: -2%;
    z-index: 1;
}

.list_slider .slick-arrow::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-top: 2px solid #998675;
    border-right: 2px solid #998675;
}

.list_slider .slick-prev::before,
.list_slider .slick-next::before {
    width: 22px;
    height: 22px;
    opacity: 1;
}

.list_slider .slick-prev::before {
    transform: rotate(-135deg);
}

.list_slider .slick-next::before {
    transform: rotate(45deg);
}

.list_slider img {
    width: 100%;
}

.list_content .slick-dots {
    bottom: -85px;
}

.list_content .slick-dots li {
    width: 45px;
    height: 45px;
    margin: 0 10px;
}

.list_content .slick-dots li button {
    width: 100%;
    height: 100%;
    padding-left: 9px;
    background: #998675;
    border-radius: 50%;
    font-size: 18px;
    text-align: center;
    color: #998675;
    background: none;
    border: 1px solid #998675;
}

.list_content .slick-dots li button::before {
    content: "";
    text-align: center;
}

.list_content .slick-dots li.slick-active button {
    background: #998675;
    border: none;
    color: white;
}

.list_content .slick-dots > li:only-child {
    display: none;
}

@media screen and (max-width: 767px) {
    .list_content .slick-dots {
        bottom: -65px;
    }

    .list_content .slick-dots li {
        width: 35px;
        height: 35px;
    }

    .list_content .slick-dots li button {
        font-size: 15px;
    }
}

@media screen and (max-width: 500px) {
    .list_slider {
        width: 100%;
    }

    .list_slider .slick-prev::before,
    .list_slider .slick-next::before {
        width: 20px;
        height: 20px;
    }
}

/* 各実績詳細ページ */
.works_detail_wrap {
    position: relative;
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 115px;
    padding-bottom: 80px;
    background: #f1eee8;
    box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.15);
}

.works_detail_wrap::before {
    content: "";
    position: absolute;
    top: -110px;
    left: 50%;
    transform: translateX(-52%);
    width: 40%;
    height: 170px;
    background-image: url(../images/clip@2x.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.mock_img {
    width: 90%;
    margin: 0 9% 0 5.5%;
}

.works_content {
    position: relative;
}

.works_content h2 {
    margin: 60px 0 70px 0;
    font-size: 30px;
    line-height: 1.33;
    text-align: center;
    writing-mode: horizontal-tb;
    font-feature-settings: "palt";
}

.works_about {
    display: flex;
    align-items: center;
    margin: 0 10% 85px 10%;
    border-top: 1.5px solid #beb4a0;
    border-bottom: 1.5px solid #beb4a0;
}

.works_about dl {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    padding: 0 20px;
}

.works_about dt,
.works_about dd {
    box-sizing: border-box;
    border-bottom: 1px dashed #beb4a0;
    line-height: 1.88;
}

.works_about dt {
    width: 30%;
    padding: 20px 0 20px 5%;
    text-align-last: justify;
}

.works_about dd {
    width: 70%;
    padding: 20px 0 20px 8%;
}

.works_about dl dt:nth-last-child(2),
.works_about dl dd:last-child {
    border-bottom: none;
}

.works_content p {
    line-height: 1.88;
    text-align: justify;
}

.works_about p {
    width: 50%;
    padding: 0 20px;
}

.works_content h3 {
    display: flex;
    align-items: center;
    height: 30px;
    margin-left: 11%;
    padding-left: 20px;
    box-sizing: border-box;
    border-left: 10px solid #beb4a0;
    font-size: 20px;
}

.works_content > p {
    margin: 30px 11.5% 0 11.5%;
}

.detail_img {
    width: 70%;
    margin: 70px auto 0 auto;
}

@media screen and (max-width: 1000px) {
    .works_detail_wrap {
        margin-right: 5%;
        margin-left: 5%;
    }

    .works_detail_wrap::before {
        top: -10vw;
    }

    .works_about {
        flex-direction: column;
        margin-right: 4%;
        margin-left: 4%;
    }

    .works_about dl {
        width: 100%;
    }

    .works_about dt,
    .works_about dd {
        font-size: 15px;
        line-height: 1.67;
    }

    .works_about dt {
        width: 20%;
        padding-left: 5%;
    }

    .works_about dd {
        width: 80%;
    }

    .works_about p {
        width: 100%;
        padding: 35px 5%;
        box-sizing: border-box;
        border-top: 1.5px solid #beb4a0;
    }

    .works_content h3 {
        margin-left: 8%;
    }

    .works_content > p {
        margin-left: 8%;
        margin-right: 8%;
    }
}

@media screen and (max-width: 767px) {
    .works_detail_wrap {
        padding-top: 50px;
    }
    .works_detail_wrap::before {
        width: 50%;
        top: -14vw;
    }

    .works_content h2 {
        margin: 45px 0 55px 0;
        font-size: 25px;
    }
}

@media screen and (max-width: 610px) {
    .works_about dt {
        width: 30%;
    }

    .works_about dd {
        width: 70%;
    }
}

/* スライダーあり実績詳細ページ */
.photo_slider {
    width: 83%;
    margin: 0 auto;
}

.img_horizonal {
    width: 100%;
}

.img_vertical {
    width: 390px;
}

.photo_slider .slick-slide {
    width: 830px;
}

.photo_slider .slick-slide img {
    margin: 0 auto;
}

.photo_slider .slick-dots li button::before {
    color: #cbbdac;
    opacity: 1;
}

.photo_slider .slick-dots li.slick-active button::before {
    color: #987b5a;
    opacity: 1;
}

.photo_slider .slick-prev,
.photo_slider .slick-next {
    width: 5%;
    height: 40px;
}

.photo_slider .slick-prev {
    left: -58px;
    transform: scale(-1, 1);
    z-index: 1;
}

.photo_slider .slick-next {
    right: -53px;
    z-index: 1;
}

.photo_slider .slick-arrow::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.photo_slider .slick-prev::before,
.photo_slider .slick-next::before {
    background-image: url(../images/photo_slider_arrow.svg);
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 1;
}

/* ライトボックス調整 */
.lb-outerContainer {
    background-color: transparent;
}

.lightbox .lb-image {
    border: none;
}

.lb-data .lb-number {
    display: none !important;
}

.lightbox .lb-image {
    max-height: 574px !important;
    width: auto !important;
    margin: 0 auto;
}

@media screen and (max-width: 1000px) {
    .photo_slider .slick-slide {
        width: auto;
        height: 55vw;
    }

    .photo_slider .slick-slide img {
        height: 100%;
    }

    .photo_slider .slick-prev {
        top: 47%;
        left: -7.5%;
    }

    .photo_slider .slick-next {
        top: 51%;
        right: -7%;
    }
}

@media screen and (max-width: 767px) {
    .photo_slider {
        width: 95%;
    }
}
